<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    {#<title>{{ record.title }}</title>#}
</head>

<body>

<article>
    <h1><a href="{{ record.link }}">{{ record.title }}</a></h1>

    {% if record.image!="" %}
        <div class='imageholder'><img src="{{ record.image|thumbnail(480, 480) }}"></div>
    {% endif %}

    {{ record.text }}

    <p class="meta"><a href="{{ record.link }}">Link</a> -
        Posted by {{ record.user.displayname }}
        on {{ record.datecreated|date("M d, ’y")}}</p>

</article>
</body>
</html>